/*--------------------------------------
              Base Styles
---------------------------------------*/

/* tag resets */

nav li {
  list-style-type: none;
}

body, a {
  color: #555;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

/* large image section */

img {
  max-width: 100%;
}

#image_placeholder {
  /*min-height: 66vw;*/
}

.image_lrg {
  text-align: center;
  padding: 1em 0 1em;
  border-bottom: 1px solid #ddd;
}

.image_lrg, .image_sml {
  margin-bottom: 1em;
}

.close_image {
  float: left;
  margin-left: 2em;
}

.prev_next_image {
  float: right;
  margin-right: 2em;
}

/* end large image section */

/* navigation menu */

.menu li {
  text-align: center;
  font-size: 1.25em;
  padding: .5em 0 .5em;
  cursor: pointer;
}

.menu_button {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.nav_link a:hover .menu li,
.nav_link a:hover .menu_expanded li {
  color: white;
  background-color: #ddd;
}

/* end navigation menu */

/* graphic styles */

.site_logo {
  font-family: 'Amatic SC', cursive;
  text-align: center;
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: .5em 0 .75em;
  font-size: 3.5em;
}

footer {
  text-align: center;
  border-top: 1px solid #ddd;
  padding: 1em 0 1em;
}

.social_media_icons {
  width: 30px;
  height: 30px;
}

.email {
  width: 36px;
  height: 36px;
  margin-left: -6px;
}

/* end graphic styles */

/* image thumbnails section */

.image_sml {
  margin: .75em 0 .75em;
  text-align: center;
}


/* end image thumbnails section */

/*--------------------------------------
              About Page
---------------------------------------*/

/* bio section */

  .bio_pic,
  .bio_text {
    margin: 2em 0;
  }

/* end bio section */

/* end ABOUT PAGE */
